* {
    font-family: iranYekan, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: calc(100% - 140px);
    margin-inline: auto;
    height: 100%;
    position: relative;
}

.top-header {
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #F3F3F3;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.13);
}

.top-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile {
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #cdcdcd;
}

main .container {
    height: calc(100vh - 70px);
    margin-top: 17%;
}

.section {
    width: 100%;
    margin-inline: auto;
    border-radius: 20px;
    background: #223A66;
    position: absolute;
    bottom: 40px;
    padding: 225px 25px 25px;
}

.doctor_img {
    width: 116px;
    border-radius: 50%;
    position: absolute;
    top: -60px;
    right: 50%;
    transform: translate(50%);
}

.doctor_box {
    position: absolute;
    top: -30%;
    right: 50%;
    transform: translate(50%);
}

.content {
    padding-top: 68px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-inline: 20px;
}

.content > h2 {
    padding: 0;
    margin: 8px 0 0;
    font-weight: normal;
}

.content span {
    opacity: 0.4;
    font-size: 13px;
    padding: 0;
    margin: 0;
    display: block;
}

.content .stars {
    margin-top: 10px;
}

.content p {
    font-size: 15px;
    margin-top: 10px;
}

.boxes {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.table_box {
    width: 50%;
    border-radius: 30px;
    border: 2px solid #cdcdcd;
    padding: 20px;
    color: wheat;
}

.table_box > tbody > tr > td:last-child {
    text-align: left;
}

.table_box > tbody > tr > td {
    padding-block: 5px;
}

@media screen and (max-width: 992px) {
    .boxes {
        flex-direction: column;
    }

    .boxes > table {
        width: 100%;
    }

    .container {
        width: calc(100% - 80px);
    }

    main .container {
        margin-top: 50vw !important;
    }

    .section {
        padding: 170px 25px 25px;
    }
}